{% extends "base.html.twig" %}

{%  block title "Mes réalisations" %}

{% block body %}
<div class="container mt-5">
    {% if app.user %}
        <a id="btn-backend" href="{{ path('admin.portfolio.index') }}" class="btn btn-dark">Backend Portfolio</a>
    {% endif %}
    <div class="row">
        {% for portfolio in portfolios %}
        <div class="col-6 mt-4">
            {%  if portfolio.filename %}
                <img src="{{ vich_uploader_asset(portfolio, 'imageFile')| imagine_filter('med') }}" alt="card-img-top" style="width: 100%; height: auto;">
            {% endif %}
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">
                        <a href="{{  path('portfolio.show', {id: portfolio.id, slug: portfolio.slug}) }}">{{ portfolio.title }}</a>
                    </h5>
                    <p class="card-text">{{ portfolio.language }}<br/>
                        {{ portfolio.description }}
                    </p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="pagination">
        {{ knp_pagination_render(portfolios) }}
    </div>
</div>
{% endblock %}