{% extends 'base.html.twig' %}

{% block title "Édition des projets"%}

{% block body %}
    <div class="container mt-5">
        <h2>Éditer le projet</h2>
        {%  for message in app.flashes('warning', 'error') %}
            <div class="alert alert-danger">
                {{ message }}
            </div>
        {% endfor %}
        {{ form_start(form) }}
        <div class="col-md2">{{ form_row(form.imageFile) }}</div>
        {{ form_rest(form) }}
        <button class="btn btn-primary">Sauvegarder</button>
        {{ form_end(form) }}
    </div>

{% endblock %}