{% extends 'base.html.twig' %}

{% block title 'Edition des images de présentation' %}

{% block body %}

    <div class="container" id="Presnew">
        <h1>Upload Des images de presentation</h1>
        {{ form_start(form) }}
        {{ form_widget(form) }}
            <button class="btn btn-primary mt-2">Sauvegarder l'image</button>
        {{ form_end(form) }}
    </div>


    <!--
    <div class="container" id="Presnew2">
        <h1>Upload Des images de presentation2</h1>
        {{ form_start(form) }}
        {{ form_widget(form) }}
        <button class="btn btn-primary mt-2">Sauvegarder l'image</button>
        {{ form_end(form) }}
    </div>-->
{% endblock %}
